# Requirements for the dGC documentation

# Material for MkDocs theme
mkdocs-material

# for the feature which displays authors at the bottom of the page
mkdocs-git-committers-plugin-2

# for the feature which enables 'foldable' admonition text (used for large code blocks)
mkdocs-macros-plugin

# for the PDF export feature
mkdocs-with-pdf

# for the timestamp feature
mkdocs-git-revision-date-localized-plugin

# LLMs.txt generation
mkdocs-llmstxt

# spelling / common typo checks for docs
codespell

# markdown linting
pymarkdownlnt
